Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-JWT-Extended==4.6.0
Flask-CORS==4.0.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
anthropic==0.39.0
requests==2.32.3
pydub==0.25.1
audioop-lts==0.2.2
gunicorn==22.0.0
Werkzeug==3.0.3
pdfplumber==0.11.4
python-docx==1.1.2
